<div class="container d-block mt-5">
  <div class="container-object d-flex justify-content-center align-items-center flex-column">
    <h1 class="title  fs-2" style="text-align:center">URL Shortener</h1>
    <img class="img " src="/ExportedContentImage.png" alt="">
  </div>

  <p>Success! Please use this link:</p>
  <p class="detail"><a href="{{shortUrl.full}}" name="fullUrl">{{shortUrl.full}}</a></p>

  <button>Copy</button>
</div>