<div class="container d-block mt-5">
  <div class="container-object d-flex justify-content-center align-items-center flex-column">
    <h1 class="title  fs-2" style='text-align:center'>URL Shortener</h1>
    <img class="img " src="/ExportedContentImage.png" alt="">
  </div>

  <form action="/detail" method="POST">
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Input URL here" aria-label="Input URL here"
        aria-describedby="basic-addon2" name="detail">
    </div>

    <button type="submit">Shorten</button>

  </form>

</div>